.random-card {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 35% 65%;
  grid-column-gap: 10px;
}

.random-drink-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-column: 1 / 2;
}

.drink-details {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 15% 10% auto 10% auto;
  grid-column: 2 / 3;
  text-align: center;
}

.random-drink-name {
  width: 95%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 2.7em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

.drink-info {
  width: 97%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
  text-align: left;
}

.ingredients-title,
.directions-title {
  font-size: 1.7em;
  font-weight: 200;
  padding-left: 10px;
  padding-bottom: 3px;
  background-color: #292824;
}

.ingredients-list,
.directions {
  font-size: 1.3em;
  font-weight: 100;
  list-style-type: circle;
  list-style-position: inside;
}

/* cocktails */

.pink .drink-details {
  border: 2.5px solid #ff00e1;
}

.pink .random-drink-name,
.pink .ingredients-title,
.pink .directions-title {
  color: #ff00e1;
}

/* premium cocktails */

.blue .drink-details {
  border: 2.5px solid #00ffe1;
}

.blue .random-drink-name,
.blue .ingredients-title,
.blue .directions-title {
  color: #00ffe1;
}

/* party drinks */

.red .drink-details {
  border: 2.5px solid #ff6161;
}

.red .random-drink-name,
.red .ingredients-title,
.red .directions-title {
  color: #ff6161;
}

/* shots */

.green .drink-details {
  border: 2.5px solid #7bff00;
}

.green .random-drink-name,
.green .ingredients-title,
.green .directions-title {
  color: #7bff00;
}

/* homemade liqueur */

.orange .drink-details {
  border: 2.5px solid #ff7b00;
}

.orange .random-drink-name,
.orange .ingredients-title,
.orange .directions-title {
  color: #ff7b00;
}

/* beer */

.yellow .drink-details {
  border: 2.5px solid #ffdd00;
}

.yellow .random-drink-name,
.yellow .ingredients-title,
.yellow .directions-title {
  color: #ffdd00;
}

/* other / unknown */

.purple .drink-details {
  border: 2.5px solid #bf24d3;
}

.purple .random-drink-name,
.purple .ingredients-title,
.purple .directions-title {
  color: #bf24d3;
}

/* desktop */

@media only screen and (min-width: 1600px) {
  .random-drink-name {
    font-size: 3em;
  }

  .ingredients-title,
  .directions-title {
    font-size: 2em;
  }

  .ingredients-list,
  .directions {
    font-size: 1.4em;
  }
}

/* tablet landscape */

@media only screen and (max-width: 1024px) {
  .random-card {
    grid-gap: 7px;
  }

  .random-drink-name {
    font-size: 2em;
  }
}

/* tablet portrait */

@media only screen and (max-width: 768px) {
  .random-card {
    grid-gap: 5px;
  }

  .drink-details {
    grid-template-rows: 20% 7% auto 7% auto;
  }

  .random-drink-name {
    font-size: 1.6em;
  }

  .ingredients-title,
  .directions-title {
    font-size: 1.1em;
    padding-left: 4px;
  }

  .ingredients-list,
  .directions {
    font-size: 1em;
    padding-left: 5px;
  }
}

/* mobile */

@media only screen and (max-width: 480px) {
  .random-card {
    grid-template-columns: 40% 60%;
    grid-gap: 2px;
  }

  .drink-details {
    grid-template-rows: auto 3% auto 3% auto;
  }

  .random-drink-name {
    font-size: 1em;
  }

  .ingredients-title,
  .directions-title {
    font-size: 0.7em;
    padding-left: 3px;
    padding-bottom: 2px;
  }

  .ingredients-list,
  .directions {
    font-size: 0.6em;
    padding-left: 3px;
  }
}
