.category-detail {
  max-width: 100vw;
}

.title {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  padding: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.drink-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
}

.drink-card {
  align-self: flex-start;
}

.Ordinary_Drink {
  color: #ff00e1;
}

.Cocktail {
  color: #00ffe1;
}

.Punch_\/_Party_Drink {
  color: #ff6161;
}

.Shot {
  color: #7bff00;
}

.Homemade_Liqueur {
  color: #ff7b00;
}

.Beer {
  color: #ffdd00;
}

.Other\/Unknown {
  color: #bf24d3;
}

/* mobile */
@media only screen and (max-width: 428px) {
  .title {
    margin-top: 10%;
    margin-bottom: 0px;
    font-size: 0.7em;
  }
}
