.categories-menu {
  display: grid;
  grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  height: 70vh;
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.cocktails,
.prem-cocktails,
.party,
.shots,
.homemade-liqueur,
.beer {
  border: 1px solid #222222;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.cocktails {
  grid-column: 1 / 2;
  background-image: url("../../images/cocktails_cat.jpg");
}

.prem-cocktails {
  grid-column: 2 / 3;
  background-image: url("../../images/prem_cat.jpg");
}

.party {
  grid-column: 3 / 4;
  background-image: url("../../images/party_cat.jpg");
}

.shots {
  grid-column: 4 / 5;
  background-image: url("../../images/shots_cat.jpg");
}

.homemade-liqueur {
  grid-column: 5 / 6;
  background-image: url("../../images/homemade_cat.jpg");
}

.beer {
  grid-column: 6 / 7;
  background-image: url("../../images/beer_cat.jpg");
}

.cocktails-btn,
.prem-cocktails-btn,
.party-btn,
.shots-btn,
.homemade-liqueur-btn,
.beer-btn {
  width: 100%;
  height: 15%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.cocktails-btn:hover {
  color: #ff00e1;
  cursor: pointer;
}

.prem-cocktails-btn:hover {
  color: #00ffe1;
  cursor: pointer;
}

.party-btn:hover {
  color: #ff6161;
  cursor: pointer;
}

.shots-btn:hover {
  color: #7bff00;
  cursor: pointer;
}

.homemade-liqueur-btn:hover {
  color: #ff7b00;
  cursor: pointer;
}

.beer-btn:hover {
  color: #ffdd00;
  cursor: pointer;
}
