.dealers-choice {
  width: 85%;
  box-sizing: border-box;
  margin: 10px auto;
}

.shuffle-btn {
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  font-size: 2em;
  border-radius: 0px;
  color: white;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.7);
}

.shuffle-btn:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

/* desktop */

@media only screen and (min-width: 1600px) {
  .dealers-choice {
    width: 90%;
    margin: 20px auto;
  }
}

.shuffle-btn {
  font-size: 2.5em;
}

/* tablet landscape */

@media only screen and (max-width: 1024px) {
  .dealers-choice {
    width: 90%;
    margin: 20px auto;
  }

  .shuffle-btn {
    font-size: 1.6em;
  }
}

/* tablet portrait */

@media only screen and (max-width: 768px) {
  .dealers-choice {
    width: 95%;
    margin: 20px auto;
  }

  .shuffle-btn {
    font-size: 1.3em;
  }
}

/* mobile */

@media only screen and (max-width: 480px) {
  .dealers-choice {
    width: 95vw;
    margin: 50px auto;
  }

  .shuffle-btn {
    font-size: 1em;
  }
}
