.drink-card {
  width: 20%;
  height: auto;
  box-sizing: border-box;
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 50px auto auto;
  justify-content: center;
  align-content: center;
}

.drink-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #292824;
  grid-row: 1 / 1;
}

.drink-name {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
  grid-row: 2 / 2;
}

.button {
  width: 100%;
  margin-top: 5px;
  padding-top: 3px;
  justify-self: center;
  align-self: end;
  color: white;
  grid-row: 4 / 4;
  background-color: #292824;
  border: none;
}

.button:hover {
  border: none;
  cursor: pointer;
}

.selected-drink-details {
  width: 100%;
  grid-row: 3 / 3;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px auto 25px auto;
  justify-items: center;
  align-items: center;
}

.ingredients-heading,
.ingredients,
.instructions-heading,
.instructions {
  font-family: "Inter", sans-serif;
  text-align: left;
}

.ingredients-heading,
.instructions-heading {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-weight: 200;
  padding: 1px 1px 1px 5px;
  background-color: #292824;
}

.ingredients,
.instructions {
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.2em;
  color: white;
  padding-left: 3px;
}

.ingredients-heading {
  grid-row: 1 / 1;
}

.ingredients {
  list-style-type: circle;
  list-style-position: inside;
  grid-row: 2/2;
}

.instructions-heading {
  grid-row: 3/3;
}

.instructions {
  grid-row: 4/4;
}

/* cocktails */

.pink-card {
  border: 3px solid #ff00e1;
}

.pink-card .drink-name,
.pink-card .ingredients-heading,
.pink-card .instructions-heading,
.pink-card .button:hover {
  color: #ff00e1;
}

/* premium cocktails */

.blue-card {
  border: 3px solid #00ffe1;
}

.blue-card .drink-name,
.blue-card .ingredients-heading,
.blue-card .instructions-heading,
.blue-card .button:hover {
  color: #00ffe1;
}

/* party drinks */

.red-card {
  border: 3px solid #ff6161;
}

.red-card .drink-name,
.red-card .ingredients-heading,
.red-card .instructions-heading,
.red-card .button:hover {
  color: #ff6161;
}

/* shots */

.green-card {
  border: 3px solid #7bff00;
}

.green-card .drink-name,
.green-card .ingredients-heading,
.green-card .instructions-heading,
.green-card .button:hover {
  color: #7bff00;
}

/* homemade liqueur */

.orange-card {
  border: 3px solid #ff7b00;
}

.orange-card .drink-name,
.orange-card .ingredients-heading,
.orange-card .instructions-heading,
.orange-card .button:hover {
  color: #ff7b00;
}

/* beer */

.yellow-card {
  border: 3px solid #ffdd00;
}

.yellow-card .drink-name,
.yellow-card .ingredients-heading,
.yellow-card .instructions-heading,
.yellow-card .button:hover {
  color: #ffdd00;
}

/* other / unknown */

.purple-card {
  border: 3px solid #bf24d3;
}

.purple-card .drink-name,
.purple-card .ingredients-heading,
.purple-card .instructions-heading,
.purple-card .button:hover {
  color: #bf24d3;
}

/* tablet landscape */

@media only screen and (max-width: 1024px) {
  .drink-card {
    width: 23%;
    min-height: 44vh;
    margin: 5px;
    grid-template-rows: auto auto auto auto;
  }

  .drink-name {
    font-size: 1.1em;
  }
}

/* tablet portrait */

@media only screen and (max-width: 768px) {
  .drink-card {
    width: 30%;
    min-height: 31vh;
    margin: 5px;
    grid-template-rows: auto auto auto auto;
  }

  .drink-name {
    font-size: 1em;
  }
}

/* mobile large */

@media only screen and (max-width: 428px) {
  .drink-card {
    width: 45%;
    min-height: 40vh;
    margin: 5px;
    grid-template-rows: auto auto auto auto;
  }

  .drink-name {
    font-size: 0.8em;
  }

  .selected-drink-details {
    grid-template-rows: 15px auto 15px auto;
  }

  .ingredients-heading,
  .instructions-heading {
    font-size: 0.7em;
  }

  .ingredients,
  .instructions {
    font-size: 0.6em;
    line-height: 1.1em;
    padding-left: 3px;
  }

  .button {
    font-size: 0.5em;
  }
}

/* mobile small */

@media only screen and (max-width: 320px) {
  .drink-card {
    width: 45%;
    min-height: 31vh;
    margin: 5px;
    grid-template-rows: auto auto auto auto;
  }

  .drink-name {
    font-size: 0.6em;
  }
}
