.search-results {
  max-width: 100vw;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
}

.result-card {
  align-self: flex-start;
}

/* mobile */

@media only screen and (max-width: 428px) {
  .results-list {
    margin-top: 10%;
  }
}
