.no-results {
  display: grid;
  grid-template-rows: auto auto;
}

.no-results-icon {
  grid-row: 1 / 1;
  color: #00ffe1;
  font-size: 3em;
  justify-self: center;
  margin: 3% auto 10px auto;
}

.no-results-text {
  grid-row: 2 / 2;
  color: #7bff00;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 5px;
}
